@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--font-display: 'Poppins', Helvetica, sans-serif;
	--color-primary: #0077ff;
	--font-michroma: 'Michroma', sans-serif;
}

@layer base {
	html {
		font-family: var(--font-display);
	}

	body {
		background-color: #f9fafb;
		overflow-x: hidden;
	}
}

.input-box {
	@apply w-full flex justify-between gap-3 text-sm text-black dark:text-white rounded px-4 py-[0.625rem] mb-4 border outline-none;
}
