{{define "subject"}}Finish Registration with Teotlalcinco{{end}}

{{define "body"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Texmecom Activation Email</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css">
      /* Base */
      body {
        margin: 0;
        padding: 0;
        min-width: 100%;
        font-family: Arial, sans-serif;
        font-size: 16px;
        line-height: 1.5;
        background-color: #fafafa;
        color: #222222;
      }
      a {
        color: #000;
        text-decoration: none;
      }
      h1 {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.25;
        margin-top: 0;
        margin-bottom: 15px;
        text-align: center;
      }
      p {
        margin-top: 0;
        margin-bottom: 24px;
      }
      table td {
        vertical-align: top;
      }
      /* Layout */
      .email-wrapper {
        max-width: 600px;
        margin: 0 auto;
      }
      .email-header {
        background-color: #cb82ec;
        padding: 24px;
        color: #ffffff;
      }
      .email-body {
        padding: 24px;
        background-color: #ffffff;
      }
      .email-footer {
        background-color: #f6f2f8;
        padding: 24px;
      }
      /* Buttons */
      .button {
        box-sizing: border-box;
        border-color: transparent;
        background-color: transparent;
        color: #b563db;
        text-decoration: none;
        font-family: "Avenir Heavy", Avenir, Helvetica, Arial, sans-serif;
        border-radius: 2px;
        display: inline-block;
        margin-bottom: 0;
        font-weight: normal;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        background-image: none;
        border: 1px solid transparent;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        border-radius: 4px;
        color: #fff;
        background-color: #b563db;
        border-color: #a939dd;
      }
    </style>
  </head>
  <body>
    <div class="email-wrapper">
      <div class="email-header">
        <h1>Teotlalcinco Portal - Welcome!</h1>
      </div>
      <div class="email-body">
        <p>Hello, <b>{{.Username}}</b>!</p>
        <p>
            Thanks for signing up for Teotlalcinco. We're exited to have you on boeard!
            Before you can start using Teotlalcinco, you need to confirm your email address. 
            Click the button below to confirm your email address:
        </p>
        <p>
          <a href="{{.ActivationURL}}" class="button" target="_blank">Activate account</a>
        </p>
        <p>
          If you want to activate your account manually copy and paste the code from the link above.
          If you didn't sign up for Teotlalcinco, you can safely ignore this email.
        </p>
      </div>
      <div class="email-footer">
        <p>
          If you have any questions, please don't hesitate to contact us at
          <a href="mailto:support@teotlalcinco.com">support@teotlalcinco.com</a>
          Thanks, Teoctlalcinco Team.
        </p>
      </div>
    </div>
  </body>
</html>
{{end}}